sudo: false # enables usage of container-based infrastructure

language: ruby

cache: bundler

rvm:
  - 2.1.3

addons:
  postgresql: "9.3"

before_script:
  - cp config/database.yml.template config/database.yml
  - bundle exec rake db:setup

env:
  global:
    - secure: "kjFGdN4YUXEY/4MhramMt8ANWPL5f7eHcsmlBvT+eBgUoq0+frJYi+U4cl5O9w0V7CB6+EGNQdDzX0e1nbP66XfynXrUfHiMimZBmms+YxavjZ9CFJB21Vt4d/cA5tEYFMSIUDwv1v0UtKn7F+eBhazkHzSdLtvM+O6uBR9r0XA="
    - secure: "U2jUt7CvygCSSAmUtHlTZHbmAcS5nT+JWEYNd+hoJQsgmR0epbO+V5KlR44UjkayykepIiHzWvPFWaYhPT+tlf8j9L0xyIliaH94LUHlpW+b4Vk8SlXFVkMduWTGjZwo+NiOr8uDJ8MD+H/6YQky3GA9z/cXEPC9NuPK7wlGnfk="
