default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  username: postgres

development:
  <<: *default
  database: calmail-dev

test:
  <<: *default
  database: calmail-test
