// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.top-bg{
  background-image: url('pattern.gif'); 
  background-repeat: repeat;
  height:100%;
}

nav{
  margin-top:30px;
}

nav ul{
  margin:0;
  padding:0;
  text-align:center;
}

nav li{
  font-size:30px;
  display: inline-block;
  padding:0 10px 0 10px;
}

nav a{
  color:#fff;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

nav a:hover{
  color:#fff;
  opacity:0.6;
}

.small-align{
  text-align:center;
}

.top-bg h1{
  color:#fff;
  font-weight:400;
  text-transform:uppercase;
  font-size:30px; 
  text-align:center; 
  padding:50px;
  line-height: 42px;
}

h1{
  font-family: 'Varela Round', sans-serif;
}

#spanDate{
  font-family: 'Lato', sans-serif;
  font-weight:100;
  color:#fff;
  text-transform: uppercase;
  font-size:20px;
  letter-spacing: 2px;
}

.date{
padding-top:45px;
 position: absolute;
    z-index: 2;
    width:400px;
    margin-left:-200px;
    left:50%;
    text-align:center;
}

.letter{
  margin-bottom:-98px;
  text-align: center;
}

.letter img{
  max-width: 100%;
}


.body-text{
  text-align:center; 
  color:#919191;
}

.body-text p{
  padding:10px 50px 150px 50px; 
  font-size:18px;
  line-height:36px;
}

.body-text h1{
  margin-bottom:50px;
}

.body-text img{
  margin:150px 0 50px;
  text-align:center;
  max-width: 100%;
}

.body-text a{
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.body-text a:hover {
  opacity: 0.7;
}

.footer{
  text-align:center;
  background:#363636;
}
.footer img{
  opacity:0.5;
  margin-top:50px;
}

.footer p{
  color:#5e5e5e;
  margin-bottom:80px;
}

.footer ul{
  padding:0;
  margin: 0;
  text-align:center;
}

.footer-links li{
  margin-top:40px;
  text-transform: uppercase;
  display:inline-block;
  padding:0 15px 0 15px;
}

.footer-links a{
  color:#5e5e5e;
}

.footer-links a:hover{
  font-weight: normal;
  text-decoration: none;
  color:#fff;
}

.footer-social li{
  text-align:center;
  padding:20px 15px 20px 15px;
  color:#5e5e5e;
  font-size:40px;
  text-transform: uppercase;
  display:inline-block;
}

.footer-social a{
  color:#5e5e5e;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
}

.footer-social a:hover{
  color:#fff;
}