.full-width {
  width: 640px;
  @media only screen and (max-width: 600px) {
    width:100% !important;
    height:auto;
  }
}
.two-col {
  width: 320px;
  @media only screen and (max-width: 600px) {
    width:100% !important;
    height:auto;
  }
}

  *[class="mobile-stack"] {
    display:block !important;
  }
